extends layout

block content
	.jumbotron
		.container
			.picsxz

				img(src='../images/debut.jpg' height = '400px' width = '800px')
		.container
			h1 Debut Party			
	.container
		.row
			.col-md-4
				h2 Package 1
				p Good for 50 Adults & 30 Kids (Php. 24,600)

				p Choices from our menus:

				p *3 Courses of Main Dish

				p *2 Courses of Salad

				p *2 Course of dessert

				p *1 choice of beverages

				p Free cake

				p Free make up and hair styling

				p venue

				p Photo Booth (2 Hours use)
			.col-md-4
				h2 Package 2
				p Good for 70 Adults & 40 Kids (Php. 26,9600)

				p Choices from our menus:

				p *3 Courses of Main Dish

				p *2 Courses of Salad

				p *2 Course of dessert

				p *2 choice of beverages

				p Free cake
				
				p Free make up and hair styling

				p venue

				p Photo Booth (2 Hours use)

				p Souvenirs
			.col-md-4
				h2 Package 3
				p Good for 90 Adults & 45 Kids (Php. 30,9600)

				p  Choices from our menus:

				p *3 Courses of Main Dish

				p *3 Courses of Salad

				p *2 Course of dessert

				p *unlimited drinks

				p Photobooth (2 hours use)

				p Face Paint or Food cart

				p Free cake or bubble machine
				
				p Free make up and hair styling

				p venue

				p Souvenirs

				p souvenir table

				p Balloon setup
	center 
		a.btn.btn-primary.btn-large(href='/services') Back to Services &raquo;