extends layout

block content
	.jumbotron
		.container
			h1 Catering Service
			i
				p "We give what You deserve"
		.container
			.picsx
				img(src='../images/logo.png' height = '200px' width = '200px')
				
	.container
		.row
			.col-md-4
				h2 About US
				p Our catering service provides affordable yet incredibly delicious food that works within our clients budget. 
				We are customer-centered oriented and our catering officers also customized accommodations that will fit your preferred events.
			.col-md-4
				h2 Our Vision
				p Our vision is to become well known in having best catering services in any apecial occasions.
			.col-md-4
				h2 Our Mission
				p Our mission is to produce happy and very satisfied customers in order to make their special event very loved to keep in memory..