extends layout

block content
	.jumbotron
		.container
			.picsxz

				img(src='../images/wedding.jpg' height = '400px' width = '800px')
		.container
			h1 Wedding Reception			
	.container
		.row
			.col-md-4
				h2 Package 1
				p Good for 50 Adults & 30 Kids (Php. 34,600)

				p Choices from our menus:

				p *3 Courses of Main Dish

				p *2 Courses of Salad

				p *2 Course of dessert

				p *1 choice of beverages

				p Free cake or bubble machine
			.col-md-4
				h2 Package 2
				p Good for 70 Adults & 40 Kids (Php. 36,9600)

				p Choices from our menus:

				p *3 Courses of Main Dish

				p *2 Courses of Salad

				p *2 Course of dessert

				p *2 choice of beverages

				p Free cake or bubble machine

				p Photo Booth (2 Hours use)
			.col-md-4
				h2 Package 3
				p Good for 90 Adults & 45 Kids (Php. 40,9600)

				p  Choices from our menus:

				p *3 Courses of Main Dish

				p *3 Courses of Salad

				p *2 Course of dessert

				p *2 choice of beverages

				p Free cake or bubble machine

				p Photo Booth (2 Hours use)

				p Clowns

				p Face Paint or Food cart

	center 
		a.btn.btn-primary.btn-large(href='/services') Back to Services &raquo;