extends layout

block content
	.jumbotron
		.container
			h1 Catering Service
			i
				p "We give what You deserve"
		.container
			.picsx
				img(src='../images/logo.png' height = '200px' width = '200px')
	.container
		.row
			.col-md-6
				h2 Assorted Dessert:
				img(src='../images/alkaline.jpg' height = '175px' width = '175px' )
				img(src='../images/crusty.png' height = '175px' width = '175px')
				img(src='../images/seven layer gelatine.jpg' height = '175px' width = '175px' )
				p Dessert:
				p Gelatine - - - - - - -  - Buko Pandan - - - - - - Minicupcakes
				p Ginger Bread - - - - - Ice cream - - - - - - - - Tiramisu
				p Fruit - - - - - - - - - - - Jell-O - - - - - - - - - - - Pastillas

			.col-md-6
				h2 Salad:
				img(src='../images/adzuki-bean.jpg' height = '175px' width = '175px' )
				img(src='../images/fruit.jpg' height = '175px' width = '175px')
				img(src='../images/tibok tibok.jpg' height = '175px' width = '175px' )
				p Salad:
				p Fruit Salad - - - - - - - - - - - - - - - Arab Salad - - - - - - - - - - - - Garden Salad
				p Tibok Tibok - - - - - - - - - - - - - - - Antipasto - - - - - - - - - - - - - Greek Salad
				p Vegetable Salad - - - - - - - - - - - Chicken Salad - - - - - - - - - - Ham Salad

		.row
			.col-md-6
				h2 Main Dish:
				img(src='../images/pi.jpg' height = '175px' width = '175px' )
				img(src='../images/chi.jpg' height = '175px' width = '175px')
				img(src='../images/ch.jpg' height = '175px' width = '175px' )
				p Main Dish:
				p Boneless Porckhop - - - - - - -  - Spinach Enchiladas - - - - - - Caldereta
				p Liempo - - - - - - - - - - - - - - - - Menudo - - - - - - - - - - - - - - Afritada
				p Buttered Shrimp - - - - - - - - - - Fish Fillet - - - - - - - - - - - - - Ampalaya Con Carne

			.col-md-6
				h2 Beverages
				img(src='../images/parcel 104.jpg' height = '175px' width = '175px' )
				img(src='../images/salted caramel and chocolate pecan pie bars.jpg' height = '175px' width = '175px')
				img(src='../images/lo.jpg' height = '175px' width = '175px' )
				p Beverages:
				p Chocolate Shake - - - - - - -  - Red Tea Juice - - - - - - Mixed Fruit
				p Milkshake - - - - - - - - - - - - -  Green Tea Juice
				p Lemonade - - - - - - - - - - - - Blue Lemonade - - - - - - Softdrinks