extends layout

block content
	.jumbotron
		.container
			h1 Catering Service
			i
				p "We give what You deserve"
		.container
			.picsx
				img(src='../images/logo.png' height = '200px' width = '200px')
	.container
		.row
			.col-md-4
				h2 Kiddie party
				p Planning your child's party has never been easy to do. That's why our catering is offering you Kiddie party catering packages designed to celebrate the mythical and magical fantasy birthday party that you and your kids are planning to do.
				a.btn.btn-primary.btn-large(href='/kiddie') Details &raquo;
			.col-md-4
				h2 Marriage reception
				p Planning where your marriage reception has never been easy to do. It is a important moment for every couple's life. That's why our catering is offering you our marriage reception packages designed to celebrate the wonderful and mythical marriage reception that you and your partner are planning to do
				a.btn.btn-primary.btn-large(href='/marriage') Details &raquo;
			.col-md-4
				h2 Debut party
				p Planning your daughter's debut party has never been easy to do. it is one of the memorable moments for a woman's life That's why our catering is offering you our debut party catering packages designed to celebrate the mythical and magical fantasy debut party that you and your kids are planning to do.
				a.btn.btn-primary.btn-large(href='/debut') Details &raquo;